 /*--------------
     global style 
 --------------- */
 body {
     margin: 0;

 }

 section {
     width: 100%;
     margin: 100px auto;
 }

 header {
     margin-top: 30px;
 }

 a {
     text-decoration: none;
 }

 ul li {
     list-style: none;
 }

 /*----------------
        nav bar 
 ----------------*/

 .nav-container {
     display: flex;
     width: 90%;
     margin: auto;
     justify-content: space-between;

 }

 .nav-details>ul {
     display: flex;

 }

 .nav-button {
     background-color: #9683CB;
     color: white;
     padding: 7px 15px;
     border-radius: 7px 0;
 }

 .nav-details ul li {
     padding: 0 15px;
     color: #927ECC;
 }

 .dropdown-items {
     display: none;
     position: absolute;
 }

 .dropdown:hover .dropdown-items {
     display: block;

     background-color: #ccc9d6b6;
     padding: 0 20px;
 }

 /*-------------
     1st section 
 -------------- */
 .section1-container {
     display: flex;
 }

 .section1-text-part {
     margin: 100px auto auto 100px;
 }

 .large-font {
     font-size: 46px;
     font-weight: 700;

 }

 .section1-button {
     background-color: #9683CB;
     color: white;

     padding: 7px 15px;
     border-radius: 7px 0;

 }

 /*-------------
  2nd section
  -------------- */
 .section2-container {
     display: flex;
 }

 .medium-font {
     font-size: 32px;
     font-weight: 600;
 }


 .section2-text {
     padding: 30px 60px;
     width: 30%;
     background-color: #FFF3F3;
     border-radius: 100px 10px;
     margin-left: 150px;
 }

 /*--------------
  third section
   -----------*/

 .section3-container {
     width: 100%;
     background-color: #EFEAFF;
     display: flex;
 }

 .section3-text {
     padding: 120px;
 }

 /*-------------------
  fourth section 
  ------------------*/
 .section4-title {
     font-size: 30px;
     font-weight: 600;
     margin: 80px 150px;


 }

 .section4-container {
     display: flex;
     padding: 80px;
 }

 .section4-container img {
     width: 80%;
     margin: 80px auto auto 100px;
 }

 .grid-container {
     width: 50%;
     display: grid;
     grid-template-columns: repeat(2, 1fr);

 }

 .grid-container div {
     margin: 10px 30px;
     padding: 10px;
     background-color: #FFF3F3;
     box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
     border-radius: 50px 5px;
 }

 /*----------------
   fifth section 
----------------- */


 .section5-container {
     background-color: #EFEAFF;
     padding: 100px;
     height: 50vh;
 }

 form.newslettter-form {
     display: flex;
     background-color: #fff;
     border-radius: 50px;
 }

 form.newslettter-form .search-box {
     border: none;
     border-radius: 50%;
     padding-left: 28px;
     outline: none;
     flex-basis: 75%;
 }

 form.newslettter-form button {
     padding: 10px;
     border: none;
     background-color: #9683CB;
     border-radius: 50px;
     color: #fff;
     flex-basis: 25%;
 }



 .footer-div-container {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     margin: 70px 100px;
 }